{% extends 'base.html' %}
{% block content %}

<h1>April</h1>
<p>
<h3>asdf</h3>

<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body"> "ชลบุรี พบคนติดโควิดอีก 18 ราย เชื่อมโยง คลัสเตอร์ผับทองหล่อ 

            https://t.co/iO0CpM8JeC"
             </div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body"> ทำความเข้าใจเกี่ยวกับการฉีดวัคซีนโควิด “วัคซีนโควิดฉีดครบ เพื่อสร้างภูมิคุ้มกัน แต่มีโอกาสติดเชื้อได้ ถ้าเราไม่ป้องกัน เพราะฉะนั้น การ์ดอย่าตกปฎิบัติตามมาตรการ DMHTT https://t.co/olESVmFmwG
          </div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body"> ลืมโควิดสักพัก ขอเสพบรรยากาศดีๆ ให้ใจได้พักบ้าง ว่าแล้วก็สักน้ำละกัน ❄️ https://t.co/glWsFzKcKJ
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> "มอร์นิ่งเฮีย @peckpalit คิดถึงจังอยากไปหาเฮีย กับ เพื่อนนุช นุชา แล้วเมื่อไรจะจบ
              วันนี้นุชรอดจากโควิดอีกวัน แต่ลูกน้องโดนไป2แล้ว ดูแลตัวเองดีๆนะคะเป็นห่วง
              จากใจเลย 💚 #เป๊กผลิตโชค
              #PeckPaLitChoke https://t.co/xcpT5IC39s"
               </div>
          </div>
        </div>
        <div class="col-sm-4"> 
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> "#ยกเลิกเกณฑ์ทหาร
              #โควิด19 
              #โหนกระแส 
               #โควิดกรุงเทพ 
              เชื่อว่าไม่ได้มีแค่ 13 คน ในผับเยอะกว่านั้นแน่ เมาไม่มีใครใส่แมสก์ เหงื่อ น้ำลาย การสัมผัสตัว ไม่เริ่มที่ตัวเราเอง อย่าไปหวังรัฐบาล เยียวยาใดๆ #เราช่วยกัน รอบนี้ รอบ3 https://t.co/lPzuRBJsJL"
               </div>
          </div>
        </div>
        <div class="col-sm-4"> 
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> "ตอนโควิดรอบเเรกที่เราขายกิมจิเพราะเป็นนักดนตรีเเล้วตกงานมีคนมาบอกว่าเลิกเป็นนักดนตรีสิ ไปทำอาชีพอื่น
              คุณคะ บางคนเจาไม่ได้ทำอาชีพนี้เเค่เดือนสองเดือน เขาทำมาเป็นยี่สิบสามสิบปีอะค่ะ เขาเลี้ยงดูครอบครัวด้วยอาชีพนี้ ถ้ากูพูดกับคุณมึงว่าทำงานไร เปลี่ยนงานดิ มึงจะเปลี่ยนมั้ย
              หงุดดดด"
               </div>
          </div>
        </div>
      </div>
    </div>
    
    <center>
    <img src="data:image/png;base64,{{graph|safe}}">
    </center>
{% endblock %}