{% extends 'base.html' %}
{% block content %}

<h1>August</h1>
<p>
<h3>asdf</h3>

<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body"> "ศูนย์บริหารสถานการณ์การแพร่ระบาดของโรคติดเชื้อไวรัสโคโรนา 2019

            ผู้ติดเชื้อโควิด-19 เพิ่ม 18,027 ราย
            - ติดเชื้อใหม่ 17,653 ราย
            - ติดเชื้อในเรือนจำ 374 ราย
            รักษาหายเพิ่ม 13,402 ราย
            เสียชีวิต 133 ราย
            
            #COVID19 #วัคซีนโควิด
            #โควิด19 #โควิดวันนี้
            #แลบ้านแลเมือง
            #PSUB #PSUBroadcast https://t.co/sNnVNe8rFE"
             </div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body"> "โควิดเลยต้องหันหลังให้กัน 😅

            #สุราษฎร์นัดเย็ด #สุราษฎร์ธานี #ชายเดี่ยวช่วยคู่ #ชายเดี่ยว #ชายเดี่ยวสมุย https://t.co/TiMLR2MiAS"
             </div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body"> ติดโควิดหรือจะสู้หมูติดมัน https://t.co/UzlbyUdy2y
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> "ดูข่าวบุคลากรทางการแพทย์ที่ดูแลผู้ป่วยโควิดแล้ว.น้ำตาไหล

              สงสารและเห็นใจบุคลากรทางการแพทย์มากๆ
              
              ขอเป็นหนึ่งในกำลังใจที่ส่งมอบให้
              สู้ๆ นะครับ
              เราจะสู้และฝ่าฟันไปด้วยกัน
              ผมจะดูแลตัวเองอย่างดีเพื่อจะได้ไม่เพิ่มภาระให้กับบุคลากรทางการแพทย์"
               </div>
          </div>
        </div>
        <div class="col-sm-4"> 
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> "Hand cream ที่ดีที่สุด เติมริ้วรอยลึกตื้น ผิวดูกระชับ ยืดหยุ่นขึ้น ดูกระจ่างใสตามวัย #จัดส่งฟรีEMS
              #Eucerin #ยูเซอริน #โควิด19   #ที่สุดของHyaจากเยอรมัน
              
              #ครีมหน้าเด็ก #ครีมหน้าเด้ง #ครีมลดริ้วรอย https://t.co/dCD3xFSVr5"
               </div>
          </div>
        </div>
        <div class="col-sm-4"> 
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> "มอบกล่องปันสุขให้ผู้ป่วยรอเตียง จากการติดเชื้อโรคระบาดโควิด-19 แบบNew Normal ที่ตลาดประชานิเวศน์ จตุจักร  ด้วยความห่วงใยจากผู้การแต้ม(ส่งใจ ห่วงใย สู้ไปด้วยกัน) ขอให้หายเร็วๆครับ

              #ชมรมเพื่อนแต้ม(พล.ต.ท.วิชัย สังข์ประไพ)
              #พูดน้อยแต่ทำเยอะ https://t.co/pCmMPUB3wd"
               </div>
          </div>
        </div>
      </div>
    </div>
    
    <center>
    <img src="data:image/png;base64,{{graph|safe}}">
    </center>
{% endblock %}