{% extends 'base.html' %}
{% block content %}

<h1>December</h1>
<p>
<h3>asdf</h3>

<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body"> สลด! สาววัย 29 ปีดับหลังฉีดสูตรไขว้ หมอชี้ ลิ่มเลือดอุดตันที่ปอด ญาติเชื่อผลจากวัคซีน https://t.co/F0J6KhFxVX ผ่าน @MatichonOnline
          </div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body"> "ไม่เข้าร่วมโคแวคเพราะประเทศรวย
            วัคซีนสูตรไขว้เพราะมีเงินทอน
            ประชาชนตายคาบ้านเราดูแลอย่างดี
            วัคซีนคุณภาพจากการบริจาค
            มีอะไรอีกที่ยังไม่ได้ทำเพื่อตัวเอง
            #กะลานีเซีย #OmicronVarient https://t.co/zYhYFtwHFR"
             </div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body"> "อืมม​ นะ
            #COVID19​ #โควิด19
            #เชียงใหม่​ #Thailand https://t.co/kISr6ikKcx"
             </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> "จนท. เค้าคิดว่ามีปัญหา​ ณ.วันนี้​ คือ สถานที่​ท่องเที่ยว​และ ชุมชน​เมือง​ในเชียงใหม่  นทท.  ที่จะไป  ก็หลีกเลี่ยง​ชุมชน​หรือ​สถานที่​ที่​คนไปชุมนุม​กันมากๆ  แหละครับ.... ส่วน  คนพื้นถิ่น​ ก็ดูแลตัวเอง​ดีๆ  ละกัน​ อย่าให้​ คนต่างถิ่นเอาเชื้อ​โรค​ไปแพร่ในชุมชน​ของท่าน
              #โควิด19 https://t.co/vs9oaxQlIQ"
              </div>
          </div>
        </div>
        <div class="col-sm-4"> 
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> ทีมงานเพื่อไทยบ้านข่า นายธีระพงษ์ หาญสุโพธิ์  เป็นตัวแทนของ ดร.ภูมิพัฒน์ พชรทรัพย์ พรรคเพื่อไทย เขต 1 มอบน้ำดื่ม 15 โหล เพื่อสุขภาพ พรรคเพื่อไทยให้กับเจ้าหน้าที่พยาบาล อสม. และพี่น้องประชาชน ที่มารับการฉีดวัคซีน ที่วัดศรีชมชื่น บ้านข่า ต.บ้านข่า  อ.ศรีสงครามจ.นครพนม https://t.co/AKImbA3LqI
            </div>
          </div>
        </div>
        <div class="col-sm-4"> 
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> "รีวิวฉีดวัคซีน 
              (สำหรับคนเป็นไมเกรนเป็นโรคประจำตัว)
              ▪︎เข็ม 1 Az  
              ▪︎เข็ม 2 Az
              
              ไม่มีอาการเจ็บไข้ หรือเอฟเฟคใดๆหลังฉีด
              แต่หลังฉีด  Az เข็ม 1 ได้ 3 week ไม่เกรนที่เคยเป็นเดือนละ 1-2 ครั้ง ปวดหัวติดกัน 12-14 วันใน1 เดือน ชาเท้าซีกซ้ายเดือนครึ่ง
              
              (ต่อ) https://t.co/p7srzkHCxC https://t.co/sHUPXwK7P7"
               </div>
          </div>
        </div>
      </div>
    </div>
    
    <center>
    <img src="data:image/png;base64,{{graph|safe}}">
    </center>
{% endblock %}