{% extends 'base.html' %}
{% block content %}

<h1>February</h1>
<p>
<h3>asdf</h3>

<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body"> #ม็อบ10กุมภา ตำรวจประกาศให้ยุติการชุม!! #เรื่องนี้ถึงโต๊ะหมัด 
            ชี้ฝ่าฝืน พ.ร.ก.ฉุกเฉิน และ พ.ร.บ.โรคติดต่อ เนื่องจากอยู่ในสถานการณ์การแพร่ระบาดของโควิด-19  และไม่อนุญาตให้มีการชุมนุมมั่วสุมใดๆ 
            ระหว่างประกาศประชาชนที่มาชุมนุมได้ตะโกนและแสดงความไม่พอใจต่อกาาประกาศของเจ้าหน้าที่ https://t.co/QNCqOOXiJC </div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body"> @guangne @SabaiFreedom ด่ากันไปดูผลงานลุงตูบ้านเรา โควิด0 % https://t.co/ddPZrjfOjB </div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body"> หลงจู๊  เจ้าของบ่อนรายใหญ่ ภาคตะวันออก  เปิดปาก บอก
            ถูกกลั่นเเกล้ง หลังถูกตำรวจบุกจับ #หลงจู๊สมชาย #บ่อนพนัน #โควิด19 https://t.co/w5nqdEInpV </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> ช่วงโควิด งบบริจาคหดหาย อาคารใหม่ที่มีเครือโรงแรมแห่งนึงจะสร้างให้ ต้องพับโครงการไปก่อน เพราะกระทบหนัก
              อาคารโรงเรียนไม้ เก่าเกือบ 50 ปีแล้ว ปลวกกิน พื้นทะลุ รร.ขาดแคลน ของใช้จำเป็นทุกด้าน ข้าวสาร อาหารแห้ง ทุนการศึกษา สนใจบริจาค ตามเบอร์บัญชีในรูปได้เลยนะ https://t.co/uXcyfwLSqZ </div>
          </div>
        </div>
        <div class="col-sm-4"> 
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> แถลงการณ์ สภาผู้แทนนิสิต องค์การนิสิต มหาวิทยาลัยเกษตรศาตร์ บางเขน
              เรื่อง ข้อเรียกร้องมาตราการช่วยเหลือนิสิตในช่วงสถานการณ์การแพร่ระบาดของโควิด-19 https://t.co/7RguklfRgm </div>
          </div>
        </div>
        <div class="col-sm-4"> 
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> ผู้ประกอบการตลาดสดเทศบาลฯ เสนอหยุดขายของสามวัน เพื่อล้างตลาด ป้องกันและควบคุมการแพร่ระบาดเชื้อโควิด-19 หลังตรวจพบเชื้อในตลาดเขตเทศบาล
              ระหว่างวันที่ 12-14 กุมภาพันธ์ 2564
              #โควิด #โควิด19 #โควิดสมุทรสาคร #สมุทรสาคร #มหาชัย #ผู้ว่าฯสมุทรสาคร #ตลาดมหาชัย
              https://t.co/ui1EqtCRAK https://t.co/YliwdMkBwD </div>
          </div>
        </div>
      </div>
    </div>
    
    <center>
    <img src="data:image/png;base64,{{graph|safe}}">
    </center>
{% endblock %}