{% extends 'base.html' %}
{% block content %}

<h1>January</h1>
<p>
<h3>asdf</h3>

<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body"> "ด่วน! 
            23:20 ศูนย์ปฏิบัติการ COVID-19 จังหวัดนนทบุรี เเจ้ง Timeline ผู้ป่วยรายที่ 194 (รายที่ 78 ของการระบาดรอบใหม่) ผู้ป่วยเป็นหญิงไทย อายุ 44 ปี 
            ที่อยู่ อ.เมืองนนทบุรี จ.นนทบุรี ที่ทำงานย่านศูนย์การค้าสลากไทย สนามบินน้ำ เดินทางไป จ.บุรีรัมย์
            #โควิดสมุทรสาคร
            #นนทบุรี https://t.co/ncsY2iCcsU" </div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body"> "มาตรการ​ออกมาแล้วคับ... ปฏิบัติ​ตาม
            #Covid_19
            #COVID19 https://t.co/0ImKraGGCF" </div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body"> เชื่อมโยง ราชบุรี-เพชรบุรี 😳 #โควิท19 #โควิดวันนี้ #โควิด19 #โควิดเพชรบุรี #โควิด https://t.co/ZYWoxoKQdR,อื่นๆ,ไม่เดือดร้อน,0
            #ประกาศล็อกดาวน์กรุงเทพ สั่งปิดสถานที่ 25 ประเภท เริ่มพรุ่งนี้ 2 ม.ค.64 ป้องกันการแพร่ระบาดโควิด-19 #เรื่องนี้ถึงโต๊ะหมัด #โควิด #โควิดวันนี้ #โควิดกรุงเทพ #โควิด19 
            https://t.co/uwSc7yelFw </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> @armypr_news #กองทัพบกห่วงใยประชาชน 
              กองทัพบก ยังส่งกองกำลัง เข้าสนับสนุน จังหวัดสมุทรสาคร เพื่อระงับการระบาดของเชื้อไวรัส covid-19 ครับ
              #กรมทหารสื่อสารที่1 https://t.co/KaKJ6LcsPm </div>
          </div>
        </div>
        <div class="col-sm-4"> 
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> ดูแลรักษาสุขภาพกันนะครับ ✌️👍😀 COVID-19 กำลังแพร่ระบาด 😷😷อย่าลืมใส่หน้ากากป้องกัน 💦🧼👋✋หมั่นล้างมือ ป้องกันการแพร่เชื้อ 
              #อยู่บ้านเพื่อหยุดโรค #โควิดเราต้องรอด #โควิด19ไม่ตระหนกแต่ตระหนัก https://t.co/vtRuO98D90 </div>
          </div>
        </div>
        <div class="col-sm-4"> 
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> หนึ่งในกิจวัตรประจำวันของช่วงนี้ที่ให้ความสำคัญเป็นอันดับต้น ๆ คือ การส่องเส้นเวลา(timeline)การเดินทางของผู้ป่วยที่พบเชื้อ covid-19 
              เราควรตระหนักปฏิบัติตนตามคำแนะนำของการแพทย์อย่างเคร่งครัด เช่น ใส่หน้ากากอนามัย หมั่นล้างมือ หยิบจับวัตถุเท่าที่จำเป็น และรักษาระยะห่าง เป็นต้น ครับ https://t.co/SzCje6XoEh </div>
          </div>
        </div>
      </div>
    </div>
    
    <center>
    <img src="data:image/png;base64,{{graph|safe}}">
    </center>
{% endblock %}