{% extends 'base.html' %}
{% block content %}

<h1>July</h1>
<p>
<h3>asdf</h3>

<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body"> "รพ.มหาราชโคราช เผยเหลือแค่ 18 เตียง หลังรับผู้ป่วยจากกทม. เพิ่ม 75 ราย ใน 3 วัน
            https://t.co/PKHXcgJeYp"
             </div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body"> "โควิดก็กลัว แต่งานก็ต้องทำ..หมอยังปลอดภัยดียุนะค่ะ ต้องเซฟตี้✌✌
            #รับนวดพัทยา
            #รับนวดนอกสถานที่
            แอดไลน์ rose4468 https://t.co/rFmJvjdDnC"
             </div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body"> "ถึงผู้ป่วยโควิด สีเขียว ที่ยังไม่ได้เตียง 🛏
            เปิดใหม่
            🏥 ชื่อ Atrium Suvarnabhumi และ 9 Winner 
            โดย รพ.วิชัยเวช มี 307 ห้อง 614 เตียง 
            มีหมอ และบุคลากร คอยดูแล  
            
            รับคนผู้ป่วยโควิด สีเขียว กทม และปริมณฑล และ นครปฐม 
            
            🚐 มีรถไปรับถึงบ้าน 
            📌รับผู้ป่วยทุกสิทธิ์
            📞 ติดต่อ 0897420765"
             </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> "คัดกรอง ใส่ใจ ดูแลน้องใหม่ เป็นอย่างดี!!

              พี่ๆหมอทหาร กองพันเสนารักษ์ที่ 1 ทำการตรวจคัดกรองโรค ให้กับน้องๆทหารใหม่ผลัด 1/64  พร้อมทั้งแนะนำน้องๆ ในการดูแลสุขภาพ และการปฎิบัติตามมาตรการการป้องกันการแพร่ระบาดของเชื้อไวรัสโควิด19 อย่างเคร่งครัด
              #โควิด19 #ทหารใหม่"
               </div>
          </div>
        </div>
        <div class="col-sm-4"> 
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> "สุขสันต์วันเกิดนะครับเจ้าแสบใหญ่ของแม่ โควิดหมดบินไปตามความฝันอย่าถอดใจนะครับ
              #SingtoPrachaya #SingtoBD2021 
              #OneDayWithSingtoBD2021 https://t.co/tfZ3cyaFKk"
               </div>
          </div>
        </div>
        <div class="col-sm-4"> 
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> "29ก.ค.64
              ผู้ติดเชื้อ 17,669 คน
              ตาย 165 คน 
              ขอแสดงความเสียใจต่อผู้เสียชีวิตด้วยครับ #โควิดวันนี้ #โควิด19 https://t.co/2fCtrBCiAI"
               </div>
          </div>
        </div>
      </div>
    </div>
    
    <center>
    <img src="data:image/png;base64,{{graph|safe}}">
    </center>
{% endblock %}