{% extends 'base.html' %}
{% block content %}

<h1>June</h1>
<p>
<h3>asdf</h3>

<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body"> "#Eucerin#ยูเซอริน #โควิด19   #ที่สุดของHyaจากเยอรมัน
            #ครีมหน้าเด็ก #ครีมหน้าเด้ง #ครีมลดริ้วรอย
            -------------------------------------------------
            #ของแท้100% #สนใจแอดไลน์ 
            https://t.co/kWdlcMxTQm https://t.co/nrfwlwXSr9"
             </div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body"> "#ข่าวจริง #โควิดก็มา 🔥🔥🔥
            พี่จ๋ามาเลยจ้า มาช๊อปความสวย
            ยุคนี้ต้องทำเองที่บ้านกันน๊าา
            💥ฟาดมาเลยกับโปรแรงแซงโควิด
            #เซ็ตสุดคุ้ม จากราคา 1,300บาท 
            🔥เหลือ 7  7  0  free.  🔥 มี ปลาย ทาง 
            📢ฟาดได้ฟาดมาเลยจ้า
            **รีบสั่งก่อนปรับราคา** https://t.co/VoEY5RLvhe"
             </div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body"> "โปรวันนี้ 1000/800/ห้องส่วนตัวปลอดภัยจากโควิดจ้ามีคลิปมีรูปขายนะคะรับคอลเสียวด้วยจ้าช่วงนี้โควิดสำหรับคนอยู่บ้านก่อเสียวได้จ้า
            Tel 062-7589765
            Line ID dean_9
            #นวดนอกสถานที่เชียงใหม่ 
            #นวดน้ำมัน #นวดผ่อนคลาย 
            #นวดเชียงใหม
            #นวดนาบเชียงใหม #นวดลําพูน https://t.co/BCRqY2aqoD https://t.co/DUKswSU2Qh"
             </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> "ทำงานกัน
              #นะจ๊ะ
              #ไลน์ล่ม
              #ล็อกดาวน์กรุงเทพ
              #โควิดวันนี้
              #โควิด
              #บนเตียงดารา
              #รับทําการบ้าน
              #รัฐบาลส้นตีนคนเชียร์ก็ส้นตีน
              #หางาน
              #หางานทํา
              #หางานทำช่วงปิดเทอม
              #งานออนไลน์
              #งานออนไลน์ได้เงินจริง
              #งานออนไลน์ฟรี
              #งานออนไลน์ไม่เสียค่าสมัคร
              #งานออนไลน์รายได้ดี
              #งานออนไลน์ง่ายๆ https://t.co/JZKqJkAdcC"
               </div>
          </div>
        </div>
        <div class="col-sm-4"> 
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> "ที่โครตเหี้ยคือ ไม่มีประกันหีแตดใดๆ ไม่มีใครมารับแน่นอนถ้าหากมึงติดโควิด เพราะเตียงแม่งมีไว้ให้พวกเส้นสาย จริงๆ ประเทศนี้ !!!!  ทำไม่ได้ก็ออกไป อีโง่ ควายแดกหญ้ายังฉลาดกว่ามึงเลย 
              #ประยุทธ์ออกไป"
              </div>
          </div>
        </div>
        <div class="col-sm-4"> 
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> ร้านดอนนี่บิวตี้&amp;ซาลอนรับเฉพาะลูกค้าประจำในหมู่บ้าน..ไม่รับคนนอกเน้อโควิด19..จึงเรียนมาเพื่อทราบ
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <center>
    <img src="data:image/png;base64,{{graph|safe}}">
    </center>
{% endblock %}