  <!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>
  
  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/blue sky.jpg" alt="blue sky" class="d-block" style="width:100%;height: 500px;">
    </div>
    <div class="carousel-item">
      <img src="images/black sky.jpg" alt="black sky" class="d-block" style="width:100%;height: 500px;">
    </div>
    <div class="carousel-item">
      <img src="images/glay sky.jpg" alt="glay sky" class="d-block" style="width:100%;height: 500px;">
    </div>
  </div>
  
  <!-- Left and right icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
{% extends 'base.html' %}
{% block content %}

<center>
<h1>All data.</h1>
<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body"> ด่วน! 
            23:20 ศูนย์ปฏิบัติการ COVID-19 จังหวัดนนทบุรี เเจ้ง Timeline ผู้ป่วยรายที่ 194 (รายที่ 78 ของการระบาดรอบใหม่) ผู้ป่วยเป็นหญิงไทย อายุ 44 ปี ที่อยู่ 
            อ.เมืองนนทบุรี จ.นนทบุรี ที่ทำงานย่านศูนย์การค้าสลากไทย สนามบินน้ำ เดินทางไป จ.บุรีรัมย์
            #โควิดสมุทรสาคร
            #นนทบุรี https://t.co/ncsY2iCcsU</div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body"> #ม็อบ10กุมภา ตำรวจประกาศให้ยุติการชุม!! #เรื่องนี้ถึงโต๊ะหมัด 
            ชี้ฝ่าฝืน พ.ร.ก.ฉุกเฉิน และ พ.ร.บ.โรคติดต่อ เนื่องจากอยู่ในสถานการณ์การแพร่ระบาดของโควิด-19  และไม่อนุญาตให้มีการชุมนุมมั่วสุมใดๆ 
            ระหว่างประกาศประชาชนที่มาชุมนุมได้ตะโกนและแสดงความไม่พอใจต่อกาาประกาศของเจ้าหน้าที่ https://t.co/QNCqOOXiJC</div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body">@Noona_nuengtida ก็อยากถามว่าหนูนาเห็นที่ม๊อบ ทำร้ายเจ้าหน้าที่ และไม่ฟังเขาบอกขอร้อง ทำลายทรัพย์สินราชการค่ะ 
            เรามองดีๆว่าทำไมต้องมาวุ่นวาย โรคโควิดก็มี จะรีบอะไรกันนักหนา</div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> ใครรู้ตัวว่าได้ใกล้ชิดผู้สุ่มเสี่ยง..
                ไม่มีอาการไม่ได้แปลว่าจะไม่มีเชื้อ...
                ตรวจเพื่อรับผิดชอบต่อตัวเองและคนใกล้ชิด (ฝากไว้ให้คิด)
                ตรวจโควิด ฟรี!!! นะรู้ยัง???
                คลิก👇
                https://t.co/w2UkzA4RUQ https://t.co/nGvFrHAFh7</div>
          </div>
        </div>
        <div class="col-sm-4"> 
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> @kamphaka โดยส่วนตัวบ้านติดสถานบันเทิง รู้สึกว่าเงียบหลับสบายกว่าช่วงปกติ พี่ชายแฟนมีลูกในช่วงวัยรุ่น ปกติกลับบ้านตี3ตี4 
                แต่ช่วงโควิดอยู่บ้านตลอด พ่อแม่เค้าแฮปปี้ ไม่ต้องกลัวลูกเกิดเรื่องราวชกต่อยหรืออุบัติเหตุนอกบ้านครับ แต่ผมไม่กล้าขอบคุณ กลัวโดนพวกคุณล่าแม่มด</div>
          </div>
        </div>
        <div class="col-sm-4"> 
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body">⏩ รายละเอียดผู้เสียชีวิตของประเทศไทย วัน ที่ 1 มิถุนายน 2564 จำนวน 38 ราย
                ขอแสดงความเสียใจกับครอบครัวผู้เสียชีวิตด้วยค่ะ  
                แหล่งข้อมูล : กระทรวงสาธารณสุข
                #COVID19 #โควิด19วันนี้
                #โควิด19 #วัคซีนโควิด
                #โควิด19เราต้องรอด
                #แลบ้านแลเมือง
                #PSUB #PSUBroadcast https://t.co/zrXofFhiVN</div>
          </div>
        </div>
      </div>
    <br>
    <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> รพ.มหาราชโคราช เผยเหลือแค่ 18 เตียง หลังรับผู้ป่วยจากกทม. เพิ่ม 75 ราย ใน 3 วัน
                https://t.co/PKHXcgJeYp</div>
          </div>
        </div>
        <div class="col-sm-4"> 
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> ศูนย์บริหารสถานการณ์การแพร่ระบาดของโรคติดเชื้อไวรัสโคโรนา 2019
                ผู้ติดเชื้อโควิด-19 เพิ่ม 18,027 ราย
                - ติดเชื้อใหม่ 17,653 ราย
                - ติดเชื้อในเรือนจำ 374 ราย
                รักษาหายเพิ่ม 13,402 ราย
                เสียชีวิต 133 ราย
                #COVID19 #วัคซีนโควิด
                #โควิด19 #โควิดวันนี้
                #แลบ้านแลเมือง
                #PSUB #PSUBroadcast https://t.co/sNnVNe8rFE</div>
          </div>
        </div>
        <div class="col-sm-4"> 
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body">⏩ @Surawuti คัดเฉพาะคนที่พร้อมจะมา ในขณะเดียวกันคนในบ้านยังเสี่ยงติดเชื้อกันเองทุกวัน “รู้หน้าไม่รู้โควิด” 
            ห่วงใยผู้ป่วยเรื่อรังมาก ๆ</div>
          </div>
        </div>
      </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-heading bg-success text-white">Texts</div>
        <div class="card-body"> เรื่องจริงป่ะเนี้ยยย ถ้าจริงเหี้ยนะ กุเสียตังจ่ายเอง เพื่อได้วัคซีนดีๆ มึงจะมา VVIP กับความเป็นความตายของคนแบบนี้อ่ะหรอ???
            #โมเดอร์นา https://t.co/VVOEf2vnDo</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="card">
        <div class="card-heading bg-success text-white">Texts</div>
        <div class="card-body"> โปรดอย่าเอาโควิดมาอ้าง เพราะถ้าอ้างแล้วคงจะได้ปล่อยงานหลังจากโควิดหมดไปจากโลก
            ก่อนหน้านี้ยังไม่มีวัคซีนก็ยังพอเข้าใจได้ นี่วัคซีนก็ฉีดแล้ว มาตรการป้องกันเดี๋ยวนี้ก็มี ATK ก็มีเยอะแยะ
            #อฟชวงม่วงทําหน้าที่ยัง</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="card">
        <div class="card-heading bg-success text-white">Texts</div>
        <div class="card-body">ไม่เข้าร่วมโคแวคเพราะประเทศรวย
            วัคซีนสูตรไขว้เพราะมีเงินทอน
            ประชาชนตายคาบ้านเราดูแลอย่างดี
            วัคซีนคุณภาพจากการบริจาค
            มีอะไรอีกที่ยังไม่ได้ทำเพื่อตัวเอง
            #กะลานีเซีย #OmicronVarient https://t.co/zYhYFtwHFR</div>
      </div>
    </div>
  </div>
<br>
<img src="data:image/png;base64,{{graph|safe}}">
</center>

<h4>summary:</h4>
<h5><pre>{{groupdata}}</pre></h5>

{% endblock  %}