{% extends 'base.html' %}
{% block content %}

<h1>March</h1>
<p>
<h3>asdf</h3>

<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body"> 'นายกอบต.กรุงเก่า' ตีแสกหน้า 'พิธา-ทอน' ขวางท้องถิ่นซื้อวัคซีนโควิด ไม่เข้าใจกระจายอำนาจ | ไทยโพสต์ | LINE TODAY
            https://t.co/fGNfYJSYIT </div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body"> "สวัสดีค่ะหมอเอมมี่ #นวดแจ้งวัฒนะ
            #นวดหลักสี่ #นวดดอนเมือง #เฮียเก๊าคนขี้เมื่อย #นวดอิสระ #นวดผ่อนคลาย 
            นวดไทย+อโรม่า+รีดเส้น 500/ชม
            นวดดี ใจเย็น เน้นบริการ
            (นวดที่ห้องสะอาดปลอดโควิดค่ะ ที่จอดรถสะดวกปลอดภัย)#ฟรีค่าห้อง
            🆔Wanyen0101 https://t.co/4hjtDGrdlR"
             </div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body"> "[#COVID19Update]
            ศูนย์บริหารสถานการณ์การแพร่ระบาดของโรคติดเชื้อไวรัสโคโรนา 2019 (ศบค.)
            รายงานการพบผู้ป่วยโควิด-19 รายใหม่ เพิ่ม 80 ราย
            รวมผู้ป่วยสะสมในประเทศไทย 26,031 ราย
            เสียชีวิตสะสม 83 ราย 
            
            #COVID19
            #โควิท19
            #แลบ้านแลเมือง
            #PSUB #PSUBroadcast https://t.co/gFmo2J3l3j"
             </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> งงมากวันนี้หัวหน้าทักมาบอกจะทำเรื่องเบิกเงินเยียวยาโควิดให้ แล้วนี่ลาออกมาจะครึ่งปีแล้วอะ5555555555555555 โควิดนี่โควิดรอบแรกนะไม่ใช่รอบสอง ระบบราชการคือช้าชิบหาย
            </div>
          </div>
        </div>
        <div class="col-sm-4"> 
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> "🗓 วันจันทร์ที่ 1 มีนาคม 2564 ⏰เวลา 24.00 น.
              สถานการณ์การติดเชื้อ COVID-19 สมุทรสาคร🦠
              😖 ผู้ป่วยรายใหม่ 24 ราย
              😷 ผู้ป่วยยืนยันสะสม 16,401 ราย
              🙂 หายป่วย 3,899 ราย
              😑 จำหน่าย 12,254 ราย
              😭 เสียชีวิตสะสม 7 ราย https://t.co/tHRFlOiCgv"
               </div>
          </div>
        </div>
        <div class="col-sm-4"> 
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> ตั้งแต่มีโควิดมายังไม่ได้ค่าตรวจโควิดเลยค่ะ https://t.co/3GHNTprfYL
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <center>
    <img src="data:image/png;base64,{{graph|safe}}">
    </center>
{% endblock %}