{% extends 'base.html' %}
{% block content %}

<h1>May</h1>
<p>
<h3>asdf</h3>

<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body"> "ด่วน ผู้ว่าฯสุราษฎร์ ยกระดับเข้มคุมโควิด-19 ห้ามข้าราชการและบุคลากรภาครัฐออกนอกพื้นที่จังหวัดกรณี – เรื่องจริงผ่านเลนส์
            https://t.co/nknapJeJV0"
             </div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body"> "😷 Time Line ผู้ติดเชื้อโควิด19 

            ⏩ ที่มา : สำนักงานสาธารณสุขจังหวัดสงขลา
            
            #COVID19
            #โควิท19
            #โควิด19วันนี้
            #แลบ้านแลเมือง
            #PSUB #PSUBroadcast https://t.co/Mh8bJAFKWt"
             </div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body"> "#หน้ากากอนามัย 1 กล่องมี #50ชิ้น
            หนา 3 ชั้นอย่างดี
            และ #หน้ากากผ้า 1 ชิ้น
            คู่กัน #เซตละ39บาท 
            ทักอินบ็อก #ซื้อสินค้าได้เลยครับ
            
            #ไมค์เปิดท้าย #ขายของออนไลน์ #ไลฟ์สด #DDayShowBambamTheLove #DoTen #maywish #แลกฟอลรอเทรน #แม่วินไม่เปลี่ยนไป #โควิด19 #โควิด #COVID19 https://t.co/JrVRsxziJj"
             </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> "[#COVID19Update]
              ศูนย์บริหารสถานการณ์การแพร่ระบาดของโรคติดเชื้อไวรัสโคโรนา 2019 (ศบค.)
              รายงานการพบผู้ป่วยโควิด-19 รายใหม่ เพิ่ม 1,940 ราย
              รวมผู้ป่วยสะสมในประเทศไทย 68,984 ราย
              เสียชีวิตสะสม 245 ราย
              
              #COVID19
              #โควิท19
              #แลบ้านแลเมือง
              #PSUB #PSUBroadcast https://t.co/uklTmdnd9R"
               </div>
          </div>
        </div>
        <div class="col-sm-4"> 
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> "หนังสือพิมพ์เรื่องจริงผ่านเลนส์ช่วยเหลือพี่น้องประชาชน ลดค่าใช้จ่ายในการใช้ชีวิตประจำวัน ในช่วงวิกฤตโควิด 19 – เรื่องจริงผ่านเลนส์
              https://t.co/cU0Kf8RleD"
               </div>
          </div>
        </div>
        <div class="col-sm-4"> 
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> "ความจันไร ของหน่วยงานรัฐ ภายใต้ “กบฏ” ประยุทธ์ จันทร์โอชา
              เปิดให้ลงทะเบียนตรวจโควิดได้ แต่พอมาถึง สนามกีฬาเวส1 ปรากฎว่าปิด
              ไอสัส “น้าค่อม” ได้กล่าวไว้
              #ประยุทธ์ออกไป https://t.co/5LCbtS4jGw"
               </div>
          </div>
        </div>
      </div>
    </div>
    
    <center>
    <img src="data:image/png;base64,{{graph|safe}}">
    </center>
{% endblock %}