{% extends 'base.html' %}
{% block content %}

<h1>November</h1>
<p>
<h3>asdf</h3>

<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body"> "มันจะมีคนปล่อยสิทธิ์ฉีดวัคซีนโมเดอร์นาไหมคะ แบบว่าเราจะหาให้พี่เราเอง

            #ฉีดวัคซีน #ฉีดวัคซีนโควิด19 #โมเดอร์นา #Moderna #Modernaอยู่ไหน"
             </div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body"> "ฮุงพรุ่งนี้เมนี่จะไปฉีดวัคซีน
            ไข้หวัดใหญ่ ฮุงจ้าเมนี่กลัวเข็ม
            💉😢💙💙💙💙
            @QH_MasterD
            #quanghungmasterd https://t.co/WzPDW4d1hR"
             </div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body"> "🐶 ป อ ม ผ ส ม ชิ ว า ว่ า 
            น้อนปังเย็น + น้อนปังปิ้ง
            ✔️ อายุ2เดือน หย่านมแล้ว กินอาเม็ด เลี้ยงง่ายมาก วัคซีนเข็มแรก + ถ่ายพยาธิ (มีสมุดประจำตัว)
            ✔️ #ราคาจัดโปร 4900 (จาก5900 ) พร้อมย้าย กทม.ส่งฟรี / ตจว.ค่าส่งตามจริง ส่งได้ทั่วไทย
            ✔️ รับประกัน7วันหลังการขาย ปรึกษา สอบถามได้ตลอด https://t.co/0EHeSrwv9N"
             </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> "📣 ประกาศโรงพยาบาลสงขลานครินทร์ 

              📌 เรื่อง แนวทางการฉีดวัคซีนโควิด-19 สำหรับคนที่เคยติดเชื้อโควิด-19 และรักษาหายแล้ว
              
              #COVID19 #โควิด19วันนี้
              #โควิด19 #โควิดวันนี้
              #แลบ้านแลเมือง
              #PSUB #PSUBroadcast https://t.co/PzLUwUESt3"
               </div>
          </div>
        </div>
        <div class="col-sm-4"> 
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> "ส่งพ่อ.. รับวัคซีน #ไฟเซอร์ 
              สนับสนุนให้ทุกคนรับวัคซีน #ที่เราเลือกได้เอง ไม่ใช่บังคับให้ฉีดเน๊าะ...
              
              Take my dad to get #Pfizer Vaccine by choosing!!!
              
              #สนับสนุนmRNAเป็นวัคซีนหลัก #mrnavacccines https://t.co/T2dQ3LPj8f"
               </div>
          </div>
        </div>
        <div class="col-sm-4"> 
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> "วันนี้ได้คุยกับแม่ กลัวเค้าน้อยใจไม่ได้พาไปเที่ยว บอกเดี๋ยวหมาวัคซีนครบเดี๋ยวไปละ แม่บอกว่า “เออ ก็้เอาที่เค้าให้หมานอนสิ มันมีเยอะไม่ใช่หรอ” 

              สำเร็จไปละ 1"
               </div>
          </div>
        </div>
      </div>
    </div>
    
    <center>
    <img src="data:image/png;base64,{{graph|safe}}">
    </center>
{% endblock %}