{% extends 'base.html' %}
{% block content %}

<h1>October</h1>
<p>
<h3>asdf</h3>

<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body"> "แนวทางการเปิดประเทศ “แบบไม่กักตัวและไม่จำกัดพื้นที่”

            ตามประกาศของศูนย์บริหารสถานการณ์แพร่ระบาดของโรคติดเชื้อไวรัสโคโรนา 2019 ที่จะมีการเปิดประเทศ ”แบบไม่กักตัว” ในวันที่ 1 พฤศจิกายน 2564.. เป็นต้นไป..
            
            🗓ข้อมูลอัปเดต ณ วันที่ 18 ตุลาคม 2564.. 
            
            ขอบคุณที่มา : ศูนย์ข้อมูล COVID-19 https://t.co/b7lsgA1Sx0"
             </div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body"> "จิระ นวดเพื่อสุขภาพ
            รับนวดทั้งในและนอกสถานที่
            พิกัดบางบัวทอง นนทบุรี และกทม.
            📌มีค่าเดินทางตามมิเตอร์
            📌พนักงานฉีดวัคซีนแล้ว
            ⏳09.00-20.00น 
            💬 jira7844 https://t.co/tUYrjyqyQO"
             </div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body"> "⏩ รายละเอียดผู้ป่วยรายใหม่ ในพื้นที่ภาคใต้ 

            ประจำวันที่ 31 ตุลาคม 2564
            
            จ.สงขลา พบผู้ป่วยรายใหม่ จำนวน 583 ราย 
            
            #COVID19 #วัคซีนโควิด
            #โควิด19 #โควิดวันนี้
            #แลบ้านแลเมือง
            #PSUB #PSUBrodcast https://t.co/uh0MZ5gwIO"
             </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> "หนทางแก้ไขสถานการณ์การแพร่ระบาดของเชื้อโรค COVID-19 ที่เลวร้ายสุด ๆ คือการเร่งฉีดวัคซีนเสริมสร้างภูมิคุ้มกัน(COVID-19 Vaccine)ให้แก่ประชาชนจริง ๆนั่นแหละ

              #เดลต้าพลัส #โควิด19 #COVID19 #สถานการณ์โควิด19 https://t.co/HXfqTcs4Pg"
               </div>
          </div>
        </div>
        <div class="col-sm-4"> 
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> "เห็นตัวเลขผู้ติดเชื้อ #โควิด19 ใน #โคราช แล้วเครียดเลย
              จะรับงานดีไหมคืนนี้"
               </div>
          </div>
        </div>
        <div class="col-sm-4"> 
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> "รายชื่อจังหวัดที่มีผู้ติดเชื้อ 10 อันดับแรก ประจำวันที่ 28 ต.ค. 64

              วันนี้ จ.สงขลา อันดับ 2‼️
              
              ❤ ขอความร่วมมือปฏิบัติตามมาตรการป้องกัน อย่างเคร่งครัดนะคะ
              
              #COVID19 #วัคซีนโควิด
              #โควิดวันนี้ #โควิด19
              #แลบ้านแลเมือง
              #PSUB #PSUBrodcast https://t.co/lStYyP9SDQ"
               </div>
          </div>
        </div>
      </div>
    </div>
    
    <center>
    <img src="data:image/png;base64,{{graph|safe}}">
    </center>
{% endblock %}