{% extends 'base.html' %}
{% block content %}

<h1>September</h1>
<p>
<h3>asdf</h3>

<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body"> "@Offchainon อีก สามเดือน
            ไม่รู้ว่า จะต้อง
            ฉีด อีกกี่เข็ม
            ในอนาคต เพราะ
            เขาว่าเชื้อไวรัส
            มันจะแรงขึ้นไป
            เรื่อยเรื่อย  แต่
            ช่วงนี้ ผู้คนคง
            คลายเครียด
            ปี 2563 ตกใจ
            กลัวสุดขีด พอ
            ได้แมสส หน้ากาก
            อนามัย วัคซีน
            และออกนอกบ้าน
            ยามจำเป็นจริงจริง
            มาตรการ  work
            from  home ตอนนี้
            ความเครียดจากโควิด
            ลดลง https://t.co/0aWcxDDQ06"
             </div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body"> "สอนพื้นฐาน​ออนไลน์​สำหรับ​แม่ค้า​ออนไลน์​ เรียน​ 1-3​ ก.ย.64​ 19.00​ น.
            ​​#ยิงแอด​#สอนสร้างเพจ​#คําคมแม่ค้าออนไลน์​#สอนขายออนไลน์​#สอนยิงแอด​#เจนนิเฟอร์คิ้ม​  #แบมแบมของขลัง #เป๊กผลิตโชค  #แคปชั่นอ่อย  #โมเดอร์นา #บีพีระพัฒน์ #มิวศุภศิษฏ์ #อภิปรายไม่ไว้วางใจ #พระมหาไพรวัลย์ https://t.co/IvLIYYqZtU"
             </div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="card">
          <div class="card-heading bg-success text-white">Texts</div>
          <div class="card-body"> "@Yao85884672 @SSaunrum มันมีค่ามาก เกินคำบรรยาย กว่าจะเจอละครคู่เกือบ 3 ปี อยากเจองานคู่ก็ติดโควิด แต่เราเข้าใจ ขอลงเรือลำนี้พายต่อจนถึงฝั่ง ไม่ว่าจะยากลำบาก และนานแค่ไหนไม่ท้้อ
            แค่เห็นภณบัวอยู่ดีมีสุข ก็พอใจละ"
             </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> โควิดก็กลัว ผัวก็อยากมี ไม่ได้เจอกับใครมาปีนึงแล้วนะะะะ อยากทัชคนแปลกหน้า แต่ก็กลัววว เหงาต่อไปอีเวน
            </div>
          </div>
        </div>
        <div class="col-sm-4"> 
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> "⏩ ผลการตรวจหาเชื้อ COVID-19 จ.สงขลา ประจำวันที่ 20 กันยายน 2564 จำนวน 334 ราย‼️
              #COVID19 #วัคซีนโควิด19
              #โควิด19 #โควิดวันนี้
              #แลบ้านแลเมือง
              #PSUB #PSUBroadcast https://t.co/ETS0cp2o2g"
               </div>
          </div>
        </div>
        <div class="col-sm-4"> 
          <div class="card">
            <div class="card-heading bg-success text-white">Texts</div>
            <div class="card-body"> "⏩แผนที่ผู้ติดเชื้อตามภูมิลำเนาจังหวัดสงขลา วันที่ 29 กันยายน 2564

              #โมเดอร์นา
              #COVID19 #วัคซีนโควิด19
              #โควิด19 #โควิดวันนี้
              #แลบ้านแลเมือง
              #PSUB #PSUBroadcast https://t.co/CalKjeIsF8"
               </div>
          </div>
        </div>
      </div>
    </div>
    
    <center>
    <img src="data:image/png;base64,{{graph|safe}}">
    </center>
{% endblock %}